
*{
    --primary-color-dark: #0D192C;
    --primary-color-medium: #15263F;
    --primary-color-medium-light: #2E405A;
    --primary-color-light: #8BACD9;
    --accent-color-neon: #00FFF8;
    --accent-color-neon-opacity-05: #00fff75c;
    --neutral-color-white: #FFFFFF;
}